.aboutMain {
	margin: auto 10%;
}


.aboutText {
	text-align: center;
font-family: 'Rhyder', sans-serif;
}

.aboutText h3 {
	font-size: 2vw;
}

.aboutText p {
	font-size: 1.5vw;
}

.aboutHeader {
	font-size: 1.3rem;
	margin: 5% auto;
	font-weight: 600;
}

#closingNorse {
	top:auto;
	bottom: 2rem;
}

#parchment {
	background-repeat: round;
	height:auto;
}

#aboutTopNorse {
	top: 3rem;
}