@font-face {
  font-family: 'Rhyder';
  src: url(../staticAssets/Rhyder.otf) format('opentype');
}

@font-face {
  font-family: 'Omnibus';
  src: url('../staticAssets/TT_OMNIB.ttf') format('truetype');
}

body {
  margin: auto 0;
}

/*.parchmentZone {
  background: url(/static/media/PARCHMENT-PAPER-GRAPHIC.912d112b.png) round no-repeat;
    background-size: auto auto;
background-size: contain;
position: relative;
bottom: 4rem;
background-position: unset;
background-size: cover;
}*/

.parchmentZone{
  background: url(/static/media/PARCHMENT-PAPER-GRAPHIC.912d112b.png) round no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
background-size: auto auto;
background-size: contain;
position: relative;
bottom: 7vh;
background-position: unset;
background-size: cover;
height: 100vh;
overflow: auto;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media screen and (min-width:750px){

  .parchmentZone {
    width: 60%;
    margin: auto 20%;
    overflow:hidden;
  }

  
}