/*ARCHIVE.CSS*/

section#parchment.parchmentZone {

  background: url(/static/media/PARCHMENT-PAPER-GRAPHIC.912d112b.png) round;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
background-size: auto auto;
background-size: contain;
position: relative;
bottom: 7vh;
background-position: unset;
background-size: cover;
height: 100vh;
overflow: auto;
padding-bottom: 8rem;

}

#parchment{
	background-repeat: round;
}


img.norsePatternGraphic {
	top: 3vh;
	margin:1rem 5%;
}

.pageIdentity {
	font-family: 'Omnibus', sans-serif;
	font-size: 2vw;
    text-align: center;
    color: #bc8347;
    position: relative;
}

select {
	font-family: "Omnibus";
    color: #504568;
    background: #b4a5c4;
}

.selectSection {
	text-align: center;
}

.comicBookZone {
	     border: black solid .1rem;
    width: auto;
    margin: auto;
    max-width: 70vw;
    height: auto;
    min-height: 48vh;
    position: relative;
    background: rgba(0,0,0,0.3);
    
} 

.pagePicker {
	background: #504568;
	width:auto;
	height: auto;
	min-height: 3rem;
	color: #b4a5c4;
	font-family: "Omnibus", sans-serif;
}

.pagePicker p {
	margin: .5rem 0;
}

.pagePicker p:hover {
	color: #92e5e9;
}

.previousPage {
	float:left;
	padding-left: 1rem;
	cursor: pointer;
}
.nextPage {
	float:right;
	padding-right: 1rem;
	cursor: pointer;
}

.showAnyPage {
	/*width:40rem;
	height:400vh;*/
	border: solid blue;
}

.nowPlaying {
	width: auto;
	max-width: 100%;
}


.archiveMain{
	
      margin: auto 2rem;
    height: -webkit-fill-available;
    min-height: fit-content;
    overflow: auto;
}


@media screen and (min-width: 750px) {
	.archiveMain {
		margin: 2rem;
	}

	.comicBookZone {
		margin: auto 8%;
	}

	select {
		font-size: 1.5vw;
	}

}

