section#parchment.parchmentZone {
	bottom: 10vh;
}

.castHeader {
	font-family: "Omnibus", sans-serif;
	text-align: center;
	margin-top:2rem;
	font-size: 6vw;
}

.norseDivider {
	width:auto;
	max-width:70vw;
	margin: auto 4rem;
}

.norseDivider2,.norseDivider3{
	text-align: left;
	margin: auto -1rem;
}

.castMemberName {
	font-family: "Omnibus", sans-serif;
	color: #bc8347;
}
.castMemberSummary {
	font-family: "Rhyder", sans-serif;
}

.castMain {
	margin: auto 2rem;
/*border: solid;*/
height: 80vh;
overflow: auto;
margin-top:5rem;
}

.castMemberPicture {
	width: auto;
	max-width: 45vw;
}

.wandaDusekova {
	/*border: solid cyan;*/
}

/*.wandaPic {
	float:left;
}*/

.wandaName {
	text-align: center;
}

.wanda1{
	float:left;
}

.wanda2{
	float:right;
}
.wandaSummary {
	text-align:center;
	padding-right: 1rem;
	font-size:1.11rem;
}

.baldur1 {
	float:right;
}
.baldur2{
	float:left;
}

.baldurPic {
	float:right;
}

.baldurName{
	text-align: center;
}

.baldurSummary {
	text-align: center;
}

.sariName {
	clear: right;
text-align: center;
}
/*.sariPic {
	float:left;
}*/
.sariSummary {
	text-align: center;
	width:auto;
	min-width:35vw;
	padding-right: 2rem;
}

.sari1 {
	float:left;
}

.sari2 {
	float:right;
}

@media screen and (min-width: 750px) {

.castMemberPicture {
	width: auto;
max-width: 30vw;
}

.castMemberName {
	font-size: 3vw;
	margin: auto 1vw;
}

.castMemberSummary {
	font-size: 2vw;
	margin: auto 3vw;
}

.sariSummary {
	min-width: unset;
	padding-right: unset;
}
#parchment {
	overflow: auto;
}

}