.homeMain {
	position: relative;
	height: auto;
	min-height: 80vh;
	padding-bottom:10vh;
}

.homeMain span{
	position: absolute;
	top:20%;
	left:10%;
	font-family: "Omnibus", sans-serif;
	font-size:1.13rem;
}

.NTlogo {
	position: absolute;
	top:30%;
	width: auto;
	max-width:50%;
	margin:auto 25%;
}