.norseDivider {
	width:auto;
	max-width: 60vw;
}
#parchment{
	background: url(/static/media/PARCHMENT-PAPER-GRAPHIC.912d112b.png) round;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
background-size: auto auto;
background-size: contain;
position: relative;
bottom: 4rem;
background-position: unset;
background-size: cover;
height: auto;
overflow: scroll;
}

#norseTop {
	top: -2rem;
    /* margin: 1rem 5%; */
}

.troubleSection{
/*	    border: solid;
*/    
    overflow: auto;
    margin-top: 6vh; 
   position: relative;
    top: 0vh;
}
/*.troubleSection{
border: solid;
height: 100vh;
overflow: auto;
margin-top: 6vh;
position: relative;
top: 7vh;
margin: 3vh;
}*/

.teamMain {
	margin: auto 2rem;

height: 80vh;

overflow: auto;
}

#closingNorse {
	top:auto;
	bottom: 2rem;
	padding: 2rem;
}

.teamHeader {
	font-family: "Omnibus", sans-serif;
	text-align: center;
}
.teamForward {
	font-family: "Rhyder",sans-serif;
	text-align: center;
	margin: auto 3rem;
	font-weight: bold;
	font-size: 1.3rem;
}

.teamEntries {
	text-align: center;
	margin: auto 3rem;
}

/*.teamEntries div {
	border-bottom: solid #bc8953
}*/

.teamEntries div:last-child{
	border: 0;
}

.teamFace {
	max-width: 10rem;
	text-align: center;
}

.teamMemberName {
	font-family: "Rhyder", sans-serif;
}

.teamMemberRole {
	font-family: "Omnibus", sans-serif;
	color: #c19360;
}

.teamMemberSummary {
	font-family: "Rhyder", sans-serif;
	padding:3rem;
	font-size: 1.4rem;
}